@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background: #032041;
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

#root {
  width: 100%;
}

.excuseMe {
  margin: 100px;
 
}

.excusesMe {
  margin: 40px;

}

.header {
  
  padding: 12px 30px;
  color: white;
  text-align: center;
  width: 100%;
  top: 0;right: 0;left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}

.slider {
  color:white;
  text-align: center;
}

button {
  color: white;
  padding: 8px 25px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  /* From https://css.glass */
    background: rgba(12, 189, 13, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(12, 189, 13, 0.3);
    font-size: 18px;
}

button:hover {
  backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    background: rgba(12, 189, 13, 0.55);
    
}

.slider h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  margin: 14px;
}

.slider p {
  
  font-size: 21px;
  margin: 14px;
}

.caution {
  color: white;
  background: #ffa500;
  padding: 22px 38px;
  width: 70%;
  text-align: center;
  margin: 12px auto;
  border-radius: 4px;
  color:white;
}



.faq {
  color: #52555b;
  background: white;
  padding: 22px 42px ;
  border-radius: 8px ;
  margin: 12px auto;

  width: 70%;
}

.faq h4 {
  margin-top: 21px;
  color: #1f2431;
}

.faq p {
  font-size: 16px;
}

.footer {
  text-align: center;
  color: aliceblue;
  margin-bottom: 8px;
}

.txCard {
  border-radius: 8px;
  margin: 50px 12px ;
  width: 70%;
  margin: 1px auto;
  
}

.txHead {
  display: flex;
  background: #5b50b7;
  flex-wrap: wrap;
  text-align: center;
  padding: 12px;
  border-radius: 8px 8px 0 0;
}

.txLeft {
  flex: 50%;
  


}

.txRight {
  flex: 50%;

}

.txBody {
  padding: 12px;
 
  border-radius: 0 0 8px 8px;
  background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-top: none;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-wrap: wrap;
      text-align: center;
}

.txBodyLeft {
  flex: 50%;



}

.txBodyRight {
  flex: 50%;

}

.txBody p {
  margin: 12px 4px;
}


@media only screen and (max-width: 768px) {

  body {
      padding: 18px;

  
    }

.txCard, .faq, .caution {
  width: 100%;
}



  
}



